.heading {
    justify-content: center;
    text-align: center;
}

p.p-text {
    text-align: center;
}

.background-cover {
    background: #ffffff;
    opacity: .9;
    padding: 2rem;
    margin:1rem;
    width: 80%;
}

.blog-details-container {
    float: left;
    left: 0;
    width: 100%;
}
/*--------------------- Back to top button */
.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}