.heading {
    justify-content: center;
    text-align: center;
}

p.p-text {
    text-align: center;
}

.background-cover {
    background: #ffffff;
    opacity: .9;
    padding: 2rem;
    margin:1rem;
    width: 92%;
}


.blog-image-container {
   
}

.blog-image {
    
}

.blog-details-container {
    margin: 2rem;
}

.comments-container {
    
}

.comment-body {
    margin-bottom: 2rem;
}

.blog {
    margin: 3rem;
}

/*--------------------- Back to top button */
.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}