<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Drinks
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Drinks</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Beers & Ciders
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=lagers" class="dropdown-item">Lagers</a>
                <a href="{% url 'products' %}?category=stout_ales" class="dropdown-item">Stouts & Ales</a>
                <a href="{% url 'products' %}?category=wheat_beers" class="dropdown-item">Wheat Beers</a>
                <a href="{% url 'products' %}?category=fruit_beers" class="dropdown-item">Fruit Beers</a>
                <a href="{% url 'products' %}?category=ciders" class="dropdown-item">Ciders</a>
                <a href="{% url 'products' %}?category=lagers,stout_ales,wheat_beers,fruit_beers,ciders" class="dropdown-item">All Beers & Ciders</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Wines
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=red_wines" class="dropdown-item">Red Wines</a>
                <a href="{% url 'products' %}?category=white_wines" class="dropdown-item">White Wines</a>
                <a href="{% url 'products' %}?category=rose_wines" class="dropdown-item">Rose Wines</a>
                <a href="{% url 'products' %}?category=sparkling_wines" class="dropdown-item">Sparkling Wines</a>
                <a href="{% url 'products' %}?category=red_wines,white_wines,rose_wines,sparkling_wines" class="dropdown-item">All Wines</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Spirits
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=gin" class="dropdown-item">Gin</a>
                <a href="{% url 'products' %}?category=whiskey" class="dropdown-item">Whiskey</a>
                <a href="{% url 'products' %}?category=rum" class="dropdown-item">Rum</a>
                <a href="{% url 'products' %}?category=other" class="dropdown-item">Other</a>
                <a href="{% url 'products' %}?category=gin,whiskey,rum,other" class="dropdown-item">All Spirits</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'blog' %}" id="specials-link" aria-expanded="false">
                Cocktails
            </a>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'contact' %}" id="specials-link" aria-expanded="false">
                Contact
            </a>
        </li>
    </ul>
</div> 