<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Drinks
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-drinks-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Beers & Ciders
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">Lagers</a>
                <a href="" class="dropdown-item">Stouts & Ales</a>
                <a href="" class="dropdown-item">Wheat Beers</a>
                <a href="" class="dropdown-item">Fruit Beers</a>
                <a href="" class="dropdown-item">Ciders</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Wines
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">Red Wines</a>
                <a href="" class="dropdown-item">White Wines</a>
                <a href="" class="dropdown-item">Rose Wines</a>
                <a href="" class="dropdown-item">Sparkling Wines</a>
                <a href="" class="dropdown-item">Organic Wines</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Spirits
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">Ginsin</a>
                <a href="" class="dropdown-item">Whiskey</a>
                <a href="" class="dropdown-item">Rum</a>
                <a href="" class="dropdown-item">Other</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="specials-link" aria-expanded="false">
                Blog
            </a>
        </li>
    </ul>
</div>